quantum_desc/Gauss_calc/**/*.chk
*.feather

descriptor/ma_reaction-All_conditions.csv.zip
**/.trash
overnight.sh
temp_pic
*/catboost_info
catboost_info*
temp_pic
compare_models/rxn_yields/training_scripts/cache_dir/
compare_models/rxn_yields/training_scripts/outputs*
compare_models/rxn_yields/training_scripts/runs/
compare_models/rxn_yields/training_scripts/wandb/
compare_models/rxn_yields/wandb/
compare_models/chemprop/data
compare_models/chemprop/*checkpoints

__pycache__/
*.egg-info/